body {
  font-family: "Quicksand", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: #76ebeb;
  font-size: 24px;
  font-weight: bolder;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  height: 19px;
  line-height: 1.5;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;

  padding: 15px 20px 40px 20px;
  margin: 30px 50px 70px 245px;
  border-radius: 10px;
  max-width: 600px;
}

#weather-icon {
  height: 65px;
  width: 65px;
  margin-right: 0;
  margin-left: -13px;
}

.temperature {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
}

.units {
  position: relative;
  top: -34px;
  color: #fff;
}

.search-form {
  margin-bottom: 20px;
}

#search-button {
  color: #fff;
  background-color: #ed5485;
  border-style: none;
}
#search-button:hover {
  color: #ed5485;
  background-color: #ffff;
  transition: all 100ms ease-in-out;
}
#current-location-button {
  color: #fff;
  background-color: #76ebeb;
  border-style: none;
}
#current-location-button:hover {
  color: #ed5485;
  background-color: #ffff;
  transition: all 100ms ease-in-out;
}

.active {
  color: #fff;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}

p {
  font-size: 12px;
  margin: -60px 0 0 380px;
  color: #fff;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast-temperatures {
  font-size: 13.5px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
