body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: #ed5485;
  font-size: 24px;
  font-weight: bolder;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #408d8d;
  font-size: 16px;
  font-weight: 300;
  height: 19px;
  line-height: 1.5;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px 20px 40px 20px;
  margin: 20px 50px 70px 0;
  border-radius: 10px;
  max-width: 600px;
}

#weather-icon {
  height: 65px;
  width: 65px;
  margin-right: 0;
  margin-left: -13px;
}

.temperature {
  color: #000;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

#search-button {
  color: #fff;
  background-color: #ed5485;
  border-style: none;
}
#search-button:hover {
  color: #ed5485;
  background-color: #ffff;
  transition: all 100ms ease-in-out;
}
#current-location-button {
  color: #fff;
  background-color: #76ebeb;
  border-style: none;
}
#current-location-button:hover {
  color: #ed5485;
  background-color: #ffff;
  transition: all 100ms ease-in-out;
}
p {
  font-size: 12px;
  margin: -60px 0 0 130px;
}
